* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ------------ global button's css ---------- */

.btn {
  padding: 14px 30px;
  font-size: 1.1rem;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  background: #ff5e35;
  border: none;
  outline: none;
  color: #fff;
  border-radius: 30px;
  transition: 0.3s linear;
}
.btn:hover {
  box-shadow: 0 10px 20px -7px #00000061;
}

/* -------------------------------- */

/* ---------- NAVBAR ------------ */
nav {
  padding: 30px 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .logo {
  width: 100px;
  cursor: pointer;
}
nav .list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  gap: 1.8rem;
}
nav .list .list-item {
  font-size: 1.25rem;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
nav .list .list-item:hover {
  color: #ff4516;
}
nav .list .list-item.active {
  font-weight: 500;
  color: #ff4516;
}
nav .feature-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 1rem;
}
nav .feature-icons li img {
  cursor: pointer;
}
nav .feature-icons li img:hover {
  color: #ff4516;
}
nav .menu-icon {
  display: none;
}
/* ------------------------------ */

.container {
  padding: 0 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container .container-left .headings h3 {
  margin: 40px 0 0 0;
  position: relative;
  font-size: 2.5rem;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}
.container .container-left .headings h3::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 270px;
  width: 30px;
  height: 30px;
  border: 2px solid #000;
  border-radius: 30px;
}
.container .container-left .headings h3::after {
  content: "";
  position: absolute;
  top: 3px;
  left: 285px;
  width: 30px;
  height: 30px;
  border: 2px solid #000;
  border-radius: 30px;
}
.container .container-left .headings h1 {
  font-size: 4.3rem;
  letter-spacing: 2px;
  font-family: "Fredoka One", sans-serif;
}
.container .container-left .product-features {
  margin: 1.8rem 0 0 5rem;
}
.container .container-left .product-features li {
  display: flex;
  justify-content: start;
  align-items: center;
}
.container .container-left .product-features li i {
  padding: 5px 0;
  width: 30px;
  height: 30px;
  font-size: 20px;
  background: #ff5e35;
  color: #fff;
  text-align: center;
  border-radius: 25px;
}
.container .container-left .product-features li h4 {
  margin: 10px 20px;
  font-size: 1.5rem;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}
.container .container-left .product-description p {
  margin: 40px 0;
  width: 90%;
  font-size: 0.8rem;
  font-family: "Poppins", sans-serif;
  color: #bababa;
}
.container .container-left .buttons {
  display: flex;
  gap: 1.25rem;
}
.container .container-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container .container-right .product-image {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .container-right .product-image img.product {
  width: 35vw;
  transition: 0.2s;
}
.container .container-right .product-image img.badge {
  position: absolute;
  left: -40px;
  bottom: 40px;
  width: 12vw;
}
.container .container-right .product-colors {
  margin: 10px 0 40px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.container .container-right .product-colors span {
  width: 28px;
  height: 28px;
  border-radius: 15px;
  cursor: pointer;
  transition: 0.3s ease-out;
}
.container .container-right .product-colors span:hover {
  box-shadow: 0 4px 5px #7c7c7c;
}
.container .container-right .product-colors span:nth-child(1) {
  background: #fbd101;
}
.container .container-right .product-colors span:nth-child(2) {
  background: #ff5e35;
}
.container .container-right .product-colors span:nth-child(3) {
  background: #000;
}

/* Responsive CSS */
@media only screen and (max-width: 1024px) {
  .btn {
    padding: 10px 20px;
    font-size: 0.8rem;
  }

  nav {
    padding: 20px 5%;
  }
  nav .logo {
    width: 5rem;
  }
  nav .list .list-item {
    font-size: 1rem;
  }
  nav .feature-icons li img {
    width: 1rem;
  }

  .container {
    padding: 0 5%;
  }
  .container .container-left .headings h3 {
    font-size: 2.1rem;
  }
  .container .container-left .headings h1 {
    font-size: 2.5rem;
  }
  .container .container-left .product-features {
    margin-left: 1rem;
  }
  .container .container-left .product-features li i {
    padding: 3px 0;
    width: 25px;
    height: 25px;
  }
  .container .container-left .product-features li h4 {
    font-size: 1rem;
  }
  .container .container-left .product-description p {
    margin: 25px 0;
    font-size: 0.7rem;
  }
}

@media only screen and (max-width: 640px) {
  nav .list,
  nav .feature-icons {
    display: none;
  }
  nav .menu-icon {
    display: block;
    font-size: 1.5rem;
  }
  .container {
    padding: 5%;
    flex-direction: column-reverse;
  }
  .container .container-left .headings h3::before {
    left: 230px;
  }
  .container .container-left .headings h3::after {
    left: 245px;
  }
  .container .container-left .buttons {
    justify-content: space-between;
  }
  .container .container-right .product-image img.product {
    width: 50vw;
  }
  .container .container-right .product-image img.badge {
    left: -5px;
    width: 10vw;
  }
  .container .container-right .product-colors span {
    width: 20px;
    height: 20px;
  }
}
